/* style.css */
*{margin: 0; padding: 0;}
a{ 
    text-decoration: none;
    color: #000;
}
ul, ol{
    list-style: none;
}
html,body {
    height: 100%;
}
body{
    font-size: 16px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}
body h2{
    color: rgba(117, 76, 136, 0.78);
}
/* container */
.container{
    width: 1200px;
    margin: 0 auto;
}


/* 헤더 */
#main_header{
    background-image: url("../image/header_bg.jpg");
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
}
#main_header .container{
    position: relative;
}
#main_header .container .text{
    text-align: center;
    position: absolute;
    transform: translate(-50% -50%);
    left: 35%; top: 100px;
    /* outline: 1px solid red; */
}
.container .text h1{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
}
.container .text p{
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
}

/* gnb메뉴바 */
#main_gnb{
    z-index: 9;
    text-align: center;
    width: 100%;
    height: 50px;
    background: #f9f5fb;
    line-height: 50px;
}
#main_gnb.fixed{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 50px;
}
#main_gnb .depth1{
    width: 500px;
    padding-left: 330px;
}
#main_gnb .depth1 li{
    font-size: 16px;
    display: inline-block;
    padding-left: 60px;
    text-align: center;
}
#main_gnb .depth1 li:first-child{
    padding-left: 0;
}
#main_gnb .depth1 li a{
    color: #444;
}
#main_gnb .depth1 li a:hover{
    color: rgba(49, 33, 56, 0.575);
}

/* 인포 */
#s1 .container h2{
   text-align: center;
   padding-top: 100px;
   /* padding-bottom: 65px; */
}
#s1 .container h2 span{
    opacity: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#s1 .container{
    height: 720px;
}
#s1 .container .visual_wrap{
    outline: 1px solid red;
}
#s1 .visual{
    float: left;
    margin-left: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#s1 .visual .text_box h3{
    font-size: 30px;
    padding-top: 10px;
}
#s1 .visual .text_box p{
    font-size: 17px;
    padding-top: 15px;
}
#s1 .visual .text_box p small{
    color: #999;
    padding-left: 20px;
    font-size: 13px;
}
#s1 .visual .text_box{
    width: 435px; height: 145px;
    position: relative;
    transition: 1s;
    padding: 1em 2em;
    transform: 1s;
    background: rgb(247, 248, 255);
    margin-top: 65px;
    /* border: 1px solid red; */
  }
  #s1 .visual .text_box:hover{
    background: #fff;
  }
  #s1 .visual .text_box > span{ 
    display: block;
    transition: 1s;
    border-radius: 40px;
  }
  #s1 .visual .text_box .top{
    position: absolute;
    left: 0; top: 0;
    border-top: 5px solid rgb(159, 162, 199);
    width: 0px;
  }
  #s1 .visual .text_box .right{
    position: absolute;
    right: 0; top: 0;
    border-right: 5px solid rgb(159, 162, 199);
    height: 0px;
  }
  #s1 .visual .text_box .bottom{
    position: absolute;
    right: 0; bottom: 0;
    border-bottom: 5px solid rgb(159, 162, 199);
    width: 0px;
  }
  #s1 .visual .text_box .left{
    position: absolute;
    left: 0; bottom: 0;
    border-left: 5px solid rgb(159, 162, 199);
    height: 0px;
  }
  #s1 .visual .text_box:hover .top{
    width: 100%;
  }
  #s1 .visual .text_box:hover .right{
    height: 100%;
  }
  #s1 .visual .text_box:hover .bottom{
    width: 100%;
  }
  #s1 .visual .text_box:hover .left{
    height: 100%;
  }
  #s1 .visual .text_box img{
    padding-left: 32px;
    padding-top: 13px;
}
#s1 .visual .text_box img:first-child{
    padding-left: 0;
}


/* 포트폴리오 */
#s2{
    clear: both;
    /* outline: 1px solid red; */
}
#s2 .container h2{
    text-align: center;
    padding-bottom: 65px;
 }
#s2 .container h2 span{
    opacity: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#s2 .container_wrap{
    background: #ebe2ea1f;
    padding-top: 100px;
 }
#s2 .container{
    width: 900px;
    /* outline: 1px solid red; */
    height: 1050px;
}
#s2 .wrap .menu ul li{
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 25px;
}

#s2 #pp_wrap{
    position: relative;
    width: 1200px;
    height: 880px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
#s2 #pp_wrap.none{
    display: none;
    position: relative;
    width: 1200px;
    height: 880px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
#s2 #pp_wrap .pc_P{
    left: 2.7%;
    top: 15%;
    position: absolute;
}
#s2 #pp_wrap .mo_P{
    left: 53%;
    top: 15%;
    position: absolute;
}
#s2 image{
    width: 100%;
}
#s2 #web_P {
    width: 1100px;
    margin: 0 auto;
    /* position: relative; */
    margin-top: 50px;
}
#s2 .web_img_P {
    width: 528px;
    height: 350px;
    position: absolute;
    left: 3.95%;
    top: 17.6%;
    /* left: %; */
    z-index: -1;
    overflow: hidden;
}
#s2 .web_img_P .img1 {
    width: 528px;
    transition: all 3s;
    transition-timing-function: ease;
    /* outline: 1px solid red; */
}
#s2 #web_P:hover .web_img_P .img1 {
    transition: all 5s;
    transition-timing-function: ease;
    transform: translate(0, -522px);
}
#s2 .mo_img_P2 {
    width: 528px;
    height: 400px;
    position: absolute;
    left: 54.25%;
    top: 21%;
    /* left: %; */
    z-index: -1;
    overflow: hidden;
}
#s2 .mo_img_P2 .img2 {
    width: 205px;
    transition: all 5s;
    transition-timing-function: ease;
    /* outline: 1px solid red; */
}
#s2 #web_P:hover .mo_img_P2 .img2 {
    transition: all 10s;
    transition-timing-function: ease;
    transform: translate(0, -1853px);
}
#s2 .hover_circle {
    position: absolute;
    top: 11%;
    left: 20%;
    color: rgb(105, 110, 168);
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0;
    padding: 5px;
    opacity: 1;
    z-index: 1;
    border: 1px solid rgb(105, 110, 168);
}
/* #s2 .hover_circle i{
    font-size: 12px;
    padding-left: 5px;
} */
#s2 .fa-mouse-pointer {
    font-size: 25px;
    text-align: center;
    line-height: 1.5em;
}
#s2 .m_circle:hover .hover_circle {
    transition: .3s;
    opacity: 0;
}
#s2 .hover_circle2 {
    position: absolute;
    top: 11%;
    left: 56.3%;
    color: rgb(105, 110, 168);
    width: 150px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0;
    padding: 5px;
    opacity: 1;
    z-index: 1;
    border: 1px solid rgb(105, 110, 168);
}
#s2 .fa-mouse-pointer {
    font-size: 25px;
    text-align: center;
    line-height: 1.5em;
}
#s2 .m_circle2:hover .hover_circle2 {
    transition: .3s;
    opacity: 0;
}
/* #s2 .hover_circle2 i{
    font-size: 12px;
    padding-left: 5px;
} */

.menu ul li{
    cursor: pointer;
    color: rgb(202, 202, 202);
}
.menu ul li.show{
    color: rgba(63, 70, 141, 0.876);
}
.po_wrap {
    display: none;
}
.po_wrap.t1.show,.po_wrap.t2.show,.po_wrap.t3.show,.po_wrap.t4.show,
.po_wrap.t5.show, .po_wrap.t6.show {
    display: block;
}

/* 컨텍 */
#s3 h2{
    padding-top: 100px;
    text-align: center;
}
#s3 .container h2 span{
    opacity: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#s3 .icon_wrap{
    padding-top: 100px;
    text-align: center;
}
#s3 .icon_wrap .mail{
    float: left;
    width: 300px;
    height: 250px;
    background: rgba(63, 70, 141, 0.061);
    border-radius: 15px;
    margin-left: 225px;
}
#s3 .icon_wrap .mail .icon_wrap2{
    text-align: center;
    width: 114px; height: 114px;
    border: 1px solid #fff;
    background: #fff;
    margin-top: 25px;
    margin-left: 90px;
    border-radius: 50%;
}
#s3 .icon_wrap .mail .icon_wrap2:hover{
    text-align: center;
    width: 114px; height: 114px;
    border: 1px solid #fff;
    background: #fff;
    margin-top: 25px;
    margin-left: 90px;
    border-radius: 50%;
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}
#s3 .icon_wrap .mail i{
    font-size: 60px;
    line-height: 114px;
    color: rgba(63, 70, 141, 0.876);
}
#s3 .icon_wrap .mail i:hover{
    transform: scale(1.2, 1.2);
    transition: 1s;
}
#s3 .icon_wrap .mail .text_mail{
    margin-top: 25px;
    line-height: 2em;
}
#s3 .icon_wrap .mail .text_mail span{
    font-size: 20px;
}
#s3 .icon_wrap .mobile{
    float: left;
    width: 300px;
    height: 250px;
    background: rgba(63, 70, 141, 0.061);
    border-radius: 15px;
    margin-left: 150px;
    margin-bottom: 200px;
}
#s3 .icon_wrap .mobile .icon_wrap2{
    text-align: center;
    width: 114px; height: 114px;
    border: 1px solid #fff;
    background: #fff;
    margin-top: 25px;
    margin-left: 90px;
    border-radius: 50%;
}
#s3 .icon_wrap .mobile .icon_wrap2:hover{
    text-align: center;
    width: 114px; height: 114px;
    border: 1px solid #fff;
    background: #fff;
    margin-top: 25px;
    margin-left: 90px;
    border-radius: 50%;
    transform: scale(1.1, 1.1);
    transition: 0.5s;
}
#s3 .icon_wrap .mobile i{
    color: rgba(63, 70, 141, 0.876);
    font-size: 60px;
    line-height: 114px;
}
#s3 .icon_wrap .mobile i:hover{
    transform: scale(1.2, 1.2);
    transition: 1s;
}
#s3 .icon_wrap .mobile .text_mobile{
    margin-top: 25px;
    line-height: 2em;
}
#s3 .icon_wrap .mobile .text_mobile span{
    font-size: 20px;
}

/* 푸터 */
#main_footer{
    clear: both;
    width: 100%;
    background: #fafafa;
    text-align: center;
    height: 100px;
}
#main_footer .footer_text{
    padding-top: 28px;
    font-size: 15px;
    color: #999;
}
#main_footer .footer_text p{
    padding-top: 0.4em;
}
